In [84]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

Miles_df =("Avg mileage per state - Sheet1.csv")
Car_df = ("Top Cars in each state EV_Gasoline - Sheet1.csv")
Prices_df =("Avg Gas and Electric per state - Sheet1.csv")
Miles_df = pd.read_csv(Miles_df)
Car_df = pd.read_csv(Car_df)
Prices_df = pd.read_csv(Prices_df)
Miles_df = Miles_df.rename(columns = {"Miles": "Avg Miles Driven per state"})
combined_Car_df = pd.merge(Car_df, Miles_df,
                                 how='outer', on='States')

In [85]:
Prices_df = Prices_df.rename(columns = {"Regular": "Average Price per Gallon"})
Prices_df = Prices_df.rename(columns = {"Average EV per Gallon": "Average Price per Gallon EV"})
Combined_Car_df = pd.merge(combined_Car_df, Prices_df,
                                 how='outer', on='States')
Combined_Car_df = Combined_Car_df.rename(columns = {"Electrical ": "Electrical"})
Gas_Miles_Df= Combined_Car_df[['States','Regular','Electrical','Avg Miles Driven per state',
                               'Average Price per Gallon']].copy()

In [86]:
Ev_Regualar_DF = ("Electric Vs Regular - Sheet1.csv")
Ev_Regualar_DF = pd.read_csv(Ev_Regualar_DF)
Ev_Regualar_DF['MPG'] = Ev_Regualar_DF['MPG'].fillna(0)
Ev_Regualar_DF['kWh/100 mi'] = Ev_Regualar_DF['kWh/100 mi'].fillna(0)
Ev_Regualar_DF['Max Gallons'] = Ev_Regualar_DF['Max Mileage']/Ev_Regualar_DF['MPG']
Ev_Regualar_DF['Max EV kWh'] = Ev_Regualar_DF['Max Mileage']/(100/Ev_Regualar_DF['kWh/100 mi'])
kWh_rate = ("kWh Rate per state - Sheet1.csv")
kWh_rate = pd.read_csv(kWh_rate)

In [87]:
Ev_Regular_DF= Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
Regular_DF = Ev_Regular_DF
indexNames = Regular_DF[ Regular_DF['Types'] == 'Electric' ].index
Regular_DF.drop(indexNames , inplace=True)
Regular_DF = Regular_DF.assign(Types='Regular')
del Regular_DF['kWh/100 mi']
del Regular_DF['Max EV kWh']
Regular_DF = Regular_DF.rename(columns = {"Model": "Regular"})
Regular_DF['Regular'] = Regular_DF['Regular'].str.replace('Ram Pickup', 'RAM 1500')
Regular_DF

                Regular    Types  List Pricing  Max Mileage   MPG  Max Gallons
3   Chevrolet Silverado  Regular         48485          450  20.0    22.500000
4         Ford F-Series  Regular         28745          500  22.0    22.727273
5            GMC Sierra  Regular         44000          440  17.0    25.882353
6           Honda Civic  Regular         20000          430  37.0    11.621622
7            Honda CR-V  Regular         25150          406  31.0    13.096774
11             RAM 1500  Regular         32154          560  22.0    25.454545
16         Toyota Camry  Regular         24970          686  33.0    20.787879
17       Toyota Corolla  Regular         19600          488  35.0    13.942857
18          Toyota RAV4  Regular         25950          400  30.0    13.333333
19        Toyota Tacoma  Regular         26050          380  20.0    19.000000

In [88]:
EV_DF = Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
indexNames = EV_DF[ EV_DF['Types'] == 'Regular'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Gasoline'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Diesel'].index
EV_DF.drop(indexNames , inplace=True)
del EV_DF['MPG']
del EV_DF['Max Gallons']
EV_DF = EV_DF.rename(columns = {"Model": "Electrical"})
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Nissan Leaf', 'Nissan LEAF')
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Chevrolet Bolt', 'Chevy Bolt')
EV_DF.head()

      Electrical     Types  List Pricing  Max Mileage  kWh/100 mi  Max EV kWh
0     Audi eTron  Electric         77400          204        46.0       93.84
1         BMW i8  Electric         44450          310        30.0       93.00
2     Chevy Bolt  Electric         36620          238        29.0       69.02
8   Hyundai Kona  Electric         37190          258        27.0       69.66
9  Hyundai Ioniq  Electric         33945          193        25.0       48.25

In [92]:
EV_DF['Avg Mileage'] = EV_DF["Max Mileage"].mean()
EV_DF['Avg EV kWh'] = EV_DF["Max EV kWh"].mean()
EV_DF['Avg EV List Pricing'] = EV_DF["List Pricing"].mean()
Regular_DF['Avg Gallons'] = Regular_DF["Max Gallons"].mean()
Regular_DF['Avg Mileage'] = Regular_DF["Max Mileage"].mean()
Regular_DF['Avg Reg List Pricing'] = Regular_DF["List Pricing"].mean()
del Regular_DF['List Pricing']
del EV_DF['List Pricing']
Regular_DF

,Regular,Types,Max Mileage,MPG,Max Gallons,Avg Gallons,Avg Mileage,Avg Reg List Pricing
3,Chevrolet Silverado,Regular,450,20.0,22.500000,18.834664,474.0,29510.4
4,Ford F-Series,Regular,500,22.0,22.727273,18.834664,474.0,29510.4
5,GMC Sierra,Regular,440,17.0,25.882353,18.834664,474.0,29510.4
6,Honda Civic,Regular,430,37.0,11.621622,18.834664,474.0,29510.4
7,Honda CR-V,Regular,406,31.0,13.096774,18.834664,474.0,29510.4
11,RAM 1500,Regular,560,22.0,25.454545,18.834664,474.0,29510.4
16,Toyota Camry,Regular,686,33.0,20.787879,18.834664,474.0,29510.4
17,Toyota Corolla,Regular,488,35.0,13.942857,18.834664,474.0,29510.4
18,Toyota RAV4,Regular,400,30.0,13.333333,18.834664,474.0,29510.4
19,Toyota Tacoma,Regular,380,20.0,19.000000,18.834664,474.0,29510.4

In [93]:
Regular_Combined_df = pd.merge(Gas_Miles_Df, Regular_DF,
                                 how='outer', on='Regular')
del Regular_Combined_df['Types']
del Regular_Combined_df['Electrical']
Regular_Combined_df['Max Gallons']= Regular_Combined_df["Max Gallons"].map("{:,.2f}".format)
Regular_Combined_df.head()

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,Max Mileage,MPG,Max Gallons,Avg Gallons,Avg Mileage,Avg Reg List Pricing
0,AL,RAM 1500,"16,054",$2.07,560,22.0,25.45,18.834664,474.0,29510.4
1,AK,RAM 1500,"9,915",$2.53,560,22.0,25.45,18.834664,474.0,29510.4
2,AZ,RAM 1500,"14,493",$2.31,560,22.0,25.45,18.834664,474.0,29510.4
3,AR,RAM 1500,"14,974",$2.06,560,22.0,25.45,18.834664,474.0,29510.4
4,NV,RAM 1500,"12,869",$2.66,560,22.0,25.45,18.834664,474.0,29510.4

In [94]:
EV_Combined_df = pd.merge(Gas_Miles_Df, EV_DF,
                                 how='outer', on='Electrical')
EV_Combined_df = pd.merge(EV_Combined_df, kWh_rate,
                                 how='outer', on='States')
Ev_Regular_DF.head()
del EV_Combined_df['Types']
del EV_Combined_df['Regular']
del EV_Combined_df['Average Price per Gallon']
EV_Combined_df['Avg kWh Rate'].round(5)
EV_Combined_df.head()
#kWh rate and avg cents per rate given

,States,Electrical,Avg Miles Driven per state,Max Mileage,kWh/100 mi,Max EV kWh,Avg Mileage,Avg EV kWh,Avg EV List Pricing,Avg kWh Rate
0,AL,Nissan LEAF,"16,054",157,30.0,47.1,271.6,82.322,49850.5,21.79
1,AR,Nissan LEAF,"14,974",157,30.0,47.1,271.6,82.322,49850.5,12.12
2,CT,Nissan LEAF,"11,595",157,30.0,47.1,271.6,82.322,49850.5,21.50
3,GA,Nissan LEAF,"18,920",157,30.0,47.1,271.6,82.322,49850.5,11.01
4,HI,Nissan LEAF,"11,104",157,30.0,47.1,271.6,82.322,49850.5,32.08

In [95]:
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].str.replace('$', '')
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].astype('float')
Regular_Combined_df['Max Gallons'] = Regular_Combined_df['Max Gallons'].astype('float')
for name, dtype in Regular_Combined_df.dtypes.iteritems():
    print(name, dtype)

States object
Regular object
Avg Miles Driven per state object
Average Price per Gallon float64
Max Mileage int64
MPG float64
Max Gallons float64
Avg Gallons float64
Avg Mileage float64
Avg Reg List Pricing float64

In [96]:
Regular_Combined_df['Full Gasoline Price'] = (Regular_Combined_df['Avg Gallons'] * Regular_Combined_df['Average Price per Gallon'])
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].astype('float')
Regular_Combined_df['Yearly Gas Price']= (Regular_Combined_df['Avg Miles Driven per state']/Regular_Combined_df['Avg Mileage'])*Regular_Combined_df['Full Gasoline Price']
Regular_Combined_df['Yearly Gas Price']= Regular_Combined_df["Yearly Gas Price"].map("{:,.2f}".format)
Regular_Combined_df.head()

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,Max Mileage,MPG,Max Gallons,Avg Gallons,Avg Mileage,Avg Reg List Pricing,Full Gasoline Price,Yearly Gas Price
0,AL,RAM 1500,16054.0,2.07,560,22.0,25.45,18.834664,474.0,29510.4,38.987754,"1,320.48"
1,AK,RAM 1500,9915.0,2.53,560,22.0,25.45,18.834664,474.0,29510.4,47.651699,996.76
2,AZ,RAM 1500,14493.0,2.31,560,22.0,25.45,18.834664,474.0,29510.4,43.508073,"1,330.30"
3,AR,RAM 1500,14974.0,2.06,560,22.0,25.45,18.834664,474.0,29510.4,38.799407,"1,225.70"
4,NV,RAM 1500,12869.0,2.66,560,22.0,25.45,18.834664,474.0,29510.4,50.100205,"1,360.21"

In [97]:
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].astype('float')
EV_Combined_df.fillna(0)
for name, dtype in EV_Combined_df.dtypes.iteritems():
    print(name, dtype)

States object
Electrical object
Avg Miles Driven per state float64
Max Mileage int64
kWh/100 mi float64
Max EV kWh float64
Avg Mileage float64
Avg EV kWh float64
Avg EV List Pricing float64
Avg kWh Rate float64

In [98]:
import pandas as pd
pd.options.mode.chained_assignment = None 
EV_Combined_df['Yearly Electric Price']= ((EV_Combined_df['Avg Miles Driven per state']/EV_Combined_df['Avg Mileage'])*(EV_Combined_df['Max EV kWh']*EV_Combined_df['Avg kWh Rate']))/100
EV_Combined_df['Yearly Electric Price']= EV_Combined_df["Yearly Electric Price"].map("{:,.2f}".format)
EV_Combined_df = EV_Combined_df.iloc[:-5]
EV_Combined_df

,States,Electrical,Avg Miles Driven per state,Max Mileage,kWh/100 mi,Max EV kWh,Avg Mileage,Avg EV kWh,Avg EV List Pricing,Avg kWh Rate,Yearly Electric Price
0,AL,Nissan LEAF,16054.0,157,30.0,47.10,271.6,82.322,49850.5,21.79,606.64
1,AR,Nissan LEAF,14974.0,157,30.0,47.10,271.6,82.322,49850.5,12.12,314.73
2,CT,Nissan LEAF,11595.0,157,30.0,47.10,271.6,82.322,49850.5,21.50,432.32
3,GA,Nissan LEAF,18920.0,157,30.0,47.10,271.6,82.322,49850.5,11.01,361.24
4,HI,Nissan LEAF,11104.0,157,30.0,47.10,271.6,82.322,49850.5,32.08,617.74
5,IL,Nissan LEAF,12921.0,157,30.0,47.10,271.6,82.322,49850.5,9.81,219.81
6,IN,Nissan LEAF,17821.0,157,30.0,47.10,271.6,82.322,49850.5,12.38,382.60
7,KS,Nissan LEAF,14742.0,157,30.0,47.10,271.6,82.322,49850.5,10.33,264.09
8,LA,Nissan LEAF,14805.0,157,30.0,47.10,271.6,82.322,49850.5,9.12,234.15
9,ME,Nissan LEAF,15420.0,157,30.0,47.10,271.6,82.322,49850.5,21.96,587.23
10,MS,Nissan LEAF,17699.0,157,30.0,47.10,271.6,82.322,49850.5,9.58,294.04
11,NM,Nissan LEAF,18369.0,157,30.0,47.10,271.6,82.322,49850.5,15.71,500.44
12,NY,Nissan LEAF,11871.0,157,30.0,47.10,271.6,82.322,49850.5,12.18,250.74
13,NC,Nissan LEAF,15729.0,157,30.0,47.10,271.6,82.322,49850.5,11.76,320.77
14,OH,Nissan LEAF,12906.0,157,30.0,47.10,271.6,82.322,49850.5,12.18,272.60
15,OK,Nissan LEAF,18891.0,157,30.0,47.10,271.6,82.322,49850.5,8.88,290.91
16,OR,Nissan LEAF,14032.0,157,30.0,47.10,271.6,82.322,49850.5,10.67,259.64
17,RI,Nissan LEAF,12781.0,157,30.0,47.10,271.6,82.322,49850.5,22.68,502.69
18,SC,Nissan LEAF,16020.0,157,30.0,47.10,271.6,82.322,49850.5,12.10,336.15
19,TN,Nissan LEAF,15462.0,157,30.0,47.10,271.6,82.322,49850.5,10.88,291.73
20,UT,Nissan LEAF,15442.0,157,30.0,47.10,271.6,82.322,49850.5,9.93,265.92
21,WA,Nissan LEAF,12837.0,157,30.0,47.10,271.6,82.322,49850.5,9.41,209.48
22,AK,Tesla Model X,9915.0,315,35.0,110.25,271.6,82.322,49850.5,11.76,473.31
23,AZ,Tesla Model X,14493.0,315,35.0,110.25,271.6,82.322,49850.5,9.30,547.13
24,CO,Tesla Model X,13443.0,315,35.0,110.25,271.6,82.322,49850.5,11.91,649.92
25,IA,Tesla Model X,15074.0,315,35.0,110.25,271.6,82.322,49850.5,12.14,742.84
26,ND,Tesla Model X,15725.0,315,35.0,110.25,271.6,82.322,49850.5,17.30,"1,104.30"
27,CA,Tesla Model S,14435.0,379,30.0,113.70,271.6,82.322,49850.5,18.31,"1,106.46"
28,DE,Tesla Model S,14802.0,379,30.0,113.70,271.6,82.322,49850.5,12.14,752.26
29,FL,Tesla Model S,11836.0,379,30.0,113.70,271.6,82.322,49850.5,11.65,577.25
30,KY,Tesla Model S,17370.0,379,30.0,113.70,271.6,82.322,49850.5,10.34,751.88
31,MD,Tesla Model S,14834.0,379,30.0,113.70,271.6,82.322,49850.5,13.07,811.64
32,MN,Tesla Model S,17887.0,379,30.0,113.70,271.6,82.322,49850.5,12.55,939.75
33,MO,Tesla Model S,17396.0,379,30.0,113.70,271.6,82.322,49850.5,10.89,793.06
34,MT,Tesla Model S,14556.0,379,30.0,113.70,271.6,82.322,49850.5,10.59,645.31
35,NE,Tesla Model S,15128.0,379,30.0,113.70,271.6,82.322,49850.5,10.86,687.77
36,NV,Tesla Model S,12869.0,379,30.0,113.70,271.6,82.322,49850.5,9.11,490.79
37,NJ,Tesla Model S,11927.0,379,30.0,113.70,271.6,82.322,49850.5,19.93,995.11
38,PA,Tesla Model S,12435.0,379,30.0,113.70,271.6,82.322,49850.5,12.55,653.31
39,TX,Tesla Model S,16347.0,379,30.0,113.70,271.6,82.322,49850.5,11.44,782.88
40,VA,Tesla Model S,15464.0,379,30.0,113.70,271.6,82.322,49850.5,16.78,"1,086.29"
41,WI,Tesla Model S,15188.0,379,30.0,113.70,271.6,82.322,49850.5,9.84,625.64
42,ID,Chevy Bolt,15318.0,238,29.0,69.02,271.6,82.322,49850.5,11.00,428.19
43,MA,Chevy Bolt,11759.0,238,29.0,69.02,271.6,82.322,49850.5,17.27,516.07
44,MI,Chevy Bolt,14121.0,238,29.0,69.02,271.6,82.322,49850.5,14.91,535.04
45,NH,Chevy Bolt,12931.0,238,29.0,69.02,271.6,82.322,49850.5,9.51,312.51
46,SD,Chevy Bolt,15505.0,238,29.0,69.02,271.6,82.322,49850.5,10.55,415.69
47,VT,Chevy Bolt,13458.0,238,29.0,69.02,271.6,82.322,49850.5,11.48,392.62
48,WV,Chevy Bolt,14283.0,238,29.0,69.02,271.6,82.322,49850.5,13.56,492.18
49,WY,Chevy Bolt,21821.0,238,29.0,69.02,271.6,82.322,49850.5,10.53,583.91
50,NaN,Audi eTron,NaN,204,46.0,93.84,271.6,82.322,49850.5,NaN,nan

In [107]:
EV_Yearly_Price = EV_Combined_df[['States','Avg EV List Pricing','Yearly Electric Price']].copy()
Regular_Yearly_Price = Regular_Combined_df[['States','Avg Reg List Pricing','Yearly Gas Price']].copy()
EV_Yearly_Price = EV_Yearly_Price.rename(columns = {"List Pricing": "EV List Pricing"})
Regular_Yearly_Price = Regular_Yearly_Price.rename(columns = {"List Pricing": "Regular List Pricing"})
Yearly_Price_Both = pd.merge(Regular_Yearly_Price, EV_Yearly_Price,
                                 how='outer', on='States')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].astype('float')
Yearly_Price_Both['Yearly Electric Price'] = EV_Combined_df['Yearly Electric Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Electric Price'] = Yearly_Price_Both['Yearly Electric Price'].astype('float')

In [108]:
Yearly_Price_Both['Yearly Price Difference'] = Yearly_Price_Both['Yearly Gas Price'] - Yearly_Price_Both['Yearly Electric Price']
Yearly_Price_Both['List Price Difference'] = Yearly_Price_Both['Avg Reg List Pricing'] - Yearly_Price_Both['Avg EV List Pricing']
Yearly_Price_Both = Yearly_Price_Both.iloc[:-2]
Yearly_Price_Both

,States,Avg Reg List Pricing,Yearly Gas Price,Avg EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
0,AL,29510.4,1320.48,49850.5,606.64,713.84,-20340.1
1,AK,29510.4,996.76,49850.5,314.73,682.03,-20340.1
2,AZ,29510.4,1330.30,49850.5,432.32,897.98,-20340.1
3,AR,29510.4,1225.70,49850.5,361.24,864.46,-20340.1
4,NV,29510.4,1360.21,49850.5,617.74,742.47,-20340.1
5,WY,29510.4,1933.57,49850.5,219.81,1713.76,-20340.1
6,CA,29510.4,1887.09,49850.5,382.60,1504.49,-20340.1
7,CO,29510.4,1217.90,49850.5,264.09,953.81,-20340.1
8,DE,29510.4,1423.36,49850.5,234.15,1189.21,-20340.1
9,GA,29510.4,1616.36,49850.5,587.23,1029.13,-20340.1
10,ID,29510.4,1351.25,49850.5,294.04,1057.21,-20340.1
11,IL,29510.4,1263.02,49850.5,500.44,762.58,-20340.1
12,KS,29510.4,1212.57,49850.5,250.74,961.83,-20340.1
13,LA,29510.4,1182.45,49850.5,320.77,861.68,-20340.1
14,ME,29510.4,1421.52,49850.5,272.60,1148.92,-20340.1
15,MI,29510.4,1217.60,49850.5,290.91,926.69,-20340.1
16,MS,29510.4,1392.49,49850.5,259.64,1132.85,-20340.1
17,MO,29510.4,1403.22,49850.5,502.69,900.53,-20340.1
18,MT,29510.4,1301.38,49850.5,336.15,965.23,-20340.1
19,NE,29510.4,1346.51,49850.5,291.73,1054.78,-20340.1
20,NH,29510.4,1145.82,49850.5,265.92,879.90,-20340.1
21,NM,29510.4,1613.09,49850.5,209.48,1403.61,-20340.1
22,NC,29510.4,1368.75,49850.5,473.31,895.44,-20340.1
23,ND,29510.4,1380.90,49850.5,547.13,833.77,-20340.1
24,OH,29510.4,1158.99,49850.5,649.92,509.07,-20340.1
25,OK,29510.4,1531.32,49850.5,742.84,788.48,-20340.1
26,PA,29510.4,1289.63,49850.5,1104.30,185.33,-20340.1
27,SC,29510.4,1330.42,49850.5,1106.46,223.96,-20340.1
28,SD,29510.4,1398.55,49850.5,752.26,646.29,-20340.1
29,TN,29510.4,1302.51,49850.5,577.25,725.26,-20340.1
30,TX,29510.4,1299.11,49850.5,751.88,547.23,-20340.1
31,UT,29510.4,1362.18,49850.5,811.64,550.54,-20340.1
32,VT,29510.4,1224.60,49850.5,939.75,284.85,-20340.1
33,VA,29510.4,1339.55,49850.5,793.06,546.49,-20340.1
34,WV,29510.4,1299.67,49850.5,645.31,654.36,-20340.1
35,WI,29510.4,1303.57,49850.5,687.77,615.80,-20340.1
36,CT,29510.4,1073.51,49850.5,490.79,582.72,-20340.1
37,NJ,29510.4,1161.12,49850.5,995.11,166.01,-20340.1
38,NY,29510.4,1122.65,49850.5,653.31,469.34,-20340.1
39,FL,29510.4,1081.71,49850.5,782.88,298.83,-20340.1
40,HI,29510.4,1456.04,49850.5,1086.29,369.75,-20340.1
41,IN,29510.4,1635.78,49850.5,625.64,1010.14,-20340.1
42,IA,29510.4,1335.71,49850.5,428.19,907.52,-20340.1
43,KY,29510.4,1525.36,49850.5,516.07,1009.29,-20340.1
44,MN,29510.4,1556.54,49850.5,535.04,1021.50,-20340.1
45,MD,29510.4,1414.65,49850.5,312.51,1102.14,-20340.1
46,MA,29510.4,1055.99,49850.5,415.69,640.30,-20340.1
47,OR,29510.4,1466.41,49850.5,392.62,1073.79,-20340.1
48,RI,29510.4,1147.76,49850.5,492.18,655.58,-20340.1
49,WA,29510.4,1412.94,49850.5,583.91,829.03,-20340.1

In [109]:
Top_3_Difference = Yearly_Price_Both.nlargest(3, 'Yearly Price Difference')
Top_3_Difference

,States,Avg Reg List Pricing,Yearly Gas Price,Avg EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
5,WY,29510.4,1933.57,49850.5,219.81,1713.76,-20340.1
6,CA,29510.4,1887.09,49850.5,382.60,1504.49,-20340.1
21,NM,29510.4,1613.09,49850.5,209.48,1403.61,-20340.1

In [110]:
Bottom_3_Difference = Yearly_Price_Both.nsmallest(3, 'Yearly Price Difference')
Bottom_3_Difference

,States,Avg Reg List Pricing,Yearly Gas Price,Avg EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
37,NJ,29510.4,1161.12,49850.5,995.11,166.01,-20340.1
26,PA,29510.4,1289.63,49850.5,1104.30,185.33,-20340.1
27,SC,29510.4,1330.42,49850.5,1106.46,223.96,-20340.1

In [111]:
Yearly_Price_Both['10 Year difference'] = ((Yearly_Price_Both['Yearly Price Difference'] * 10) + Yearly_Price_Both['List Price Difference'])
Yearly_Price_Both

,States,Avg Reg List Pricing,Yearly Gas Price,Avg EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
0,AL,29510.4,1320.48,49850.5,606.64,713.84,-20340.1,-13201.7
1,AK,29510.4,996.76,49850.5,314.73,682.03,-20340.1,-13519.8
2,AZ,29510.4,1330.30,49850.5,432.32,897.98,-20340.1,-11360.3
3,AR,29510.4,1225.70,49850.5,361.24,864.46,-20340.1,-11695.5
4,NV,29510.4,1360.21,49850.5,617.74,742.47,-20340.1,-12915.4
5,WY,29510.4,1933.57,49850.5,219.81,1713.76,-20340.1,-3202.5
6,CA,29510.4,1887.09,49850.5,382.60,1504.49,-20340.1,-5295.2
7,CO,29510.4,1217.90,49850.5,264.09,953.81,-20340.1,-10802.0
8,DE,29510.4,1423.36,49850.5,234.15,1189.21,-20340.1,-8448.0
9,GA,29510.4,1616.36,49850.5,587.23,1029.13,-20340.1,-10048.8
10,ID,29510.4,1351.25,49850.5,294.04,1057.21,-20340.1,-9768.0
11,IL,29510.4,1263.02,49850.5,500.44,762.58,-20340.1,-12714.3
12,KS,29510.4,1212.57,49850.5,250.74,961.83,-20340.1,-10721.8
13,LA,29510.4,1182.45,49850.5,320.77,861.68,-20340.1,-11723.3
14,ME,29510.4,1421.52,49850.5,272.60,1148.92,-20340.1,-8850.9
15,MI,29510.4,1217.60,49850.5,290.91,926.69,-20340.1,-11073.2
16,MS,29510.4,1392.49,49850.5,259.64,1132.85,-20340.1,-9011.6
17,MO,29510.4,1403.22,49850.5,502.69,900.53,-20340.1,-11334.8
18,MT,29510.4,1301.38,49850.5,336.15,965.23,-20340.1,-10687.8
19,NE,29510.4,1346.51,49850.5,291.73,1054.78,-20340.1,-9792.3
20,NH,29510.4,1145.82,49850.5,265.92,879.90,-20340.1,-11541.1
21,NM,29510.4,1613.09,49850.5,209.48,1403.61,-20340.1,-6304.0
22,NC,29510.4,1368.75,49850.5,473.31,895.44,-20340.1,-11385.7
23,ND,29510.4,1380.90,49850.5,547.13,833.77,-20340.1,-12002.4
24,OH,29510.4,1158.99,49850.5,649.92,509.07,-20340.1,-15249.4
25,OK,29510.4,1531.32,49850.5,742.84,788.48,-20340.1,-12455.3
26,PA,29510.4,1289.63,49850.5,1104.30,185.33,-20340.1,-18486.8
27,SC,29510.4,1330.42,49850.5,1106.46,223.96,-20340.1,-18100.5
28,SD,29510.4,1398.55,49850.5,752.26,646.29,-20340.1,-13877.2
29,TN,29510.4,1302.51,49850.5,577.25,725.26,-20340.1,-13087.5
30,TX,29510.4,1299.11,49850.5,751.88,547.23,-20340.1,-14867.8
31,UT,29510.4,1362.18,49850.5,811.64,550.54,-20340.1,-14834.7
32,VT,29510.4,1224.60,49850.5,939.75,284.85,-20340.1,-17491.6
33,VA,29510.4,1339.55,49850.5,793.06,546.49,-20340.1,-14875.2
34,WV,29510.4,1299.67,49850.5,645.31,654.36,-20340.1,-13796.5
35,WI,29510.4,1303.57,49850.5,687.77,615.80,-20340.1,-14182.1
36,CT,29510.4,1073.51,49850.5,490.79,582.72,-20340.1,-14512.9
37,NJ,29510.4,1161.12,49850.5,995.11,166.01,-20340.1,-18680.0
38,NY,29510.4,1122.65,49850.5,653.31,469.34,-20340.1,-15646.7
39,FL,29510.4,1081.71,49850.5,782.88,298.83,-20340.1,-17351.8
40,HI,29510.4,1456.04,49850.5,1086.29,369.75,-20340.1,-16642.6
41,IN,29510.4,1635.78,49850.5,625.64,1010.14,-20340.1,-10238.7
42,IA,29510.4,1335.71,49850.5,428.19,907.52,-20340.1,-11264.9
43,KY,29510.4,1525.36,49850.5,516.07,1009.29,-20340.1,-10247.2
44,MN,29510.4,1556.54,49850.5,535.04,1021.50,-20340.1,-10125.1
45,MD,29510.4,1414.65,49850.5,312.51,1102.14,-20340.1,-9318.7
46,MA,29510.4,1055.99,49850.5,415.69,640.30,-20340.1,-13937.1
47,OR,29510.4,1466.41,49850.5,392.62,1073.79,-20340.1,-9602.2
48,RI,29510.4,1147.76,49850.5,492.18,655.58,-20340.1,-13784.3
49,WA,29510.4,1412.94,49850.5,583.91,829.03,-20340.1,-12049.8