In [100]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

Miles_df =("Avg mileage per state - Sheet1.csv")
Car_df = ("Top Cars in each state EV_Gasoline - Sheet1.csv")
Prices_df =("Avg Gas and Electric per state - Sheet1.csv")
Miles_df = pd.read_csv(Miles_df)
Car_df = pd.read_csv(Car_df)
Prices_df = pd.read_csv(Prices_df)
Miles_df = Miles_df.rename(columns = {"Miles": "Avg Miles Driven per state"})
combined_Car_df = pd.merge(Car_df, Miles_df,
                                 how='outer', on='States')

In [101]:
Prices_df = Prices_df.rename(columns = {"Regular": "Average Price per Gallon"})
Prices_df = Prices_df.rename(columns = {"Average EV per Gallon": "Average Price per Gallon EV"})
Combined_Car_df = pd.merge(combined_Car_df, Prices_df,
                                 how='outer', on='States')
Combined_Car_df = Combined_Car_df.rename(columns = {"Electrical ": "Electrical"})
Gas_Miles_Df= Combined_Car_df[['States','Regular','Electrical','Avg Miles Driven per state',
                               'Average Price per Gallon']].copy()

In [102]:
Ev_Regualar_DF = ("Electric Vs Regular - Sheet1.csv")
Ev_Regualar_DF = pd.read_csv(Ev_Regualar_DF)
Ev_Regualar_DF['MPG'] = Ev_Regualar_DF['MPG'].fillna(0)
Ev_Regualar_DF['kWh/100 mi'] = Ev_Regualar_DF['kWh/100 mi'].fillna(0)
Ev_Regualar_DF['Max Gallons'] = Ev_Regualar_DF['Max Mileage']/Ev_Regualar_DF['MPG']
Ev_Regualar_DF['Max EV kWh'] = Ev_Regualar_DF['Max Mileage']/(100/Ev_Regualar_DF['kWh/100 mi'])
kWh_rate = ("kWh Rate per state - Sheet1.csv")
kWh_rate = pd.read_csv(kWh_rate)

In [103]:
Ev_Regular_DF= Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
Regular_DF = Ev_Regular_DF
indexNames = Regular_DF[ Regular_DF['Types'] == 'Electric' ].index
Regular_DF.drop(indexNames , inplace=True)
Regular_DF = Regular_DF.assign(Types='Regular')
del Regular_DF['kWh/100 mi']
del Regular_DF['Max EV kWh']
Regular_DF = Regular_DF.rename(columns = {"Model": "Regular"})
Regular_DF['Regular'] = Regular_DF['Regular'].str.replace('Ram Pickup', 'RAM 1500')
Regular_DF

                Regular    Types  List Pricing  Max Mileage   MPG  Max Gallons
3   Chevrolet Silverado  Regular         48485          450  20.0    22.500000
4         Ford F-Series  Regular         28745          500  22.0    22.727273
5            GMC Sierra  Regular         44000          440  17.0    25.882353
6           Honda Civic  Regular         20000          430  37.0    11.621622
7            Honda CR-V  Regular         25150          406  31.0    13.096774
11             RAM 1500  Regular         32154          560  22.0    25.454545
16         Toyota Camry  Regular         24970          686  33.0    20.787879
17       Toyota Corolla  Regular         19600          488  35.0    13.942857
18          Toyota RAV4  Regular         25950          400  30.0    13.333333
19        Toyota Tacoma  Regular         26050          380  20.0    19.000000

In [104]:
EV_DF = Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
indexNames = EV_DF[ EV_DF['Types'] == 'Regular'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Gasoline'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Diesel'].index
EV_DF.drop(indexNames , inplace=True)
del EV_DF['MPG']
del EV_DF['Max Gallons']
EV_DF = EV_DF.rename(columns = {"Model": "Electrical"})
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Nissan Leaf', 'Nissan LEAF')
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Chevrolet Bolt', 'Chevy Bolt')
EV_DF

       Electrical     Types  List Pricing  Max Mileage  kWh/100 mi  Max EV kWh
0      Audi eTron  Electric         77400          204        46.0       93.84
1          BMW i8  Electric         44450          310        30.0       93.00
2      Chevy Bolt  Electric         36620          238        29.0       69.02
8    Hyundai Kona  Electric         37190          258        27.0       69.66
9   Hyundai Ioniq  Electric         33945          193        25.0       48.25
10    Nissan LEAF  Electric         31600          157        30.0       47.10
12  Tesla Model 3  Electric         37990          348        26.0       90.48
13  Tesla Model S  Electric         69420          379        30.0      113.70
14  Tesla Model X  Electric         79990          315        35.0      110.25
15  Tesla Model Y  Electric         49900          314        28.0       87.92

In [105]:
Gas_Miles_Df.loc[:,'Regular'] = 'Ford F-Series'
Gas_Miles_Df.loc[:,'Electrical'] = 'Tesla Model 3'

In [106]:
Regular_Combined_df = pd.merge(Gas_Miles_Df, Regular_DF,
                                 how='outer', on='Regular')
del Regular_Combined_df['Types']
del Regular_Combined_df['Electrical']
Regular_Combined_df['Max Gallons']= Regular_Combined_df["Max Gallons"].map("{:,.2f}".format)
Regular_Combined_df.head()

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,List Pricing,Max Mileage,MPG,Max Gallons
0,AL,Ford F-Series,"16,054",$2.07,28745,500,22.0,22.73
1,AK,Ford F-Series,"9,915",$2.53,28745,500,22.0,22.73
2,AZ,Ford F-Series,"14,493",$2.31,28745,500,22.0,22.73
3,AR,Ford F-Series,"14,974",$2.06,28745,500,22.0,22.73
4,CA,Ford F-Series,"14,435",$3.29,28745,500,22.0,22.73

In [107]:
EV_Combined_df = pd.merge(Gas_Miles_Df, EV_DF,
                                 how='outer', on='Electrical')
EV_Combined_df = pd.merge(EV_Combined_df, kWh_rate,
                                 how='outer', on='States')
Ev_Regular_DF.head()
del EV_Combined_df['Types']
del EV_Combined_df['Regular']
del EV_Combined_df['Average Price per Gallon']
EV_Combined_df['Avg kWh Rate'].round(5)
EV_Combined_df.head()

,States,Electrical,Avg Miles Driven per state,List Pricing,Max Mileage,kWh/100 mi,Max EV kWh,Avg kWh Rate
0,AL,Tesla Model 3,"16,054",37990,348,26.0,90.48,21.79
1,AK,Tesla Model 3,"9,915",37990,348,26.0,90.48,11.76
2,AZ,Tesla Model 3,"14,493",37990,348,26.0,90.48,9.30
3,AR,Tesla Model 3,"14,974",37990,348,26.0,90.48,12.12
4,CA,Tesla Model 3,"14,435",37990,348,26.0,90.48,18.31

In [108]:
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].str.replace('$', '')
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].astype('float')
Regular_Combined_df['Max Gallons'] = Regular_Combined_df['Max Gallons'].astype('float')

In [109]:
Regular_Combined_df['Full Gasoline Price'] = (Regular_Combined_df['Max Gallons'] * Regular_Combined_df['Average Price per Gallon'])
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].astype('float')
Regular_Combined_df['Yearly Gas Price']= (Regular_Combined_df['Avg Miles Driven per state']/Regular_Combined_df['Max Mileage'])*Regular_Combined_df['Full Gasoline Price']
Regular_Combined_df['Yearly Gas Price']= Regular_Combined_df["Yearly Gas Price"].map("{:,.2f}".format)
Regular_Combined_df = Regular_Combined_df.iloc[:-9]
Regular_Combined_df

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,List Pricing,Max Mileage,MPG,Max Gallons,Full Gasoline Price,Yearly Gas Price
0,AL,Ford F-Series,16054.0,2.07,28745,500,22.0,22.73,47.0511,"1,510.72"
1,AK,Ford F-Series,9915.0,2.53,28745,500,22.0,22.73,57.5069,"1,140.36"
2,AZ,Ford F-Series,14493.0,2.31,28745,500,22.0,22.73,52.5063,"1,521.95"
3,AR,Ford F-Series,14974.0,2.06,28745,500,22.0,22.73,46.8238,"1,402.28"
4,CA,Ford F-Series,14435.0,3.29,28745,500,22.0,22.73,74.7817,"2,158.95"
5,CO,Ford F-Series,13443.0,2.28,28745,500,22.0,22.73,51.8244,"1,393.35"
6,CT,Ford F-Series,11595.0,2.33,28745,500,22.0,22.73,52.9609,"1,228.16"
7,DE,Ford F-Series,14802.0,2.42,28745,500,22.0,22.73,55.0066,"1,628.42"
8,FL,Ford F-Series,11836.0,2.30,28745,500,22.0,22.73,52.2790,"1,237.55"
9,GA,Ford F-Series,18920.0,2.15,28745,500,22.0,22.73,48.8695,"1,849.22"
10,HI,Ford F-Series,11104.0,3.30,28745,500,22.0,22.73,75.0090,"1,665.80"
11,ID,Ford F-Series,15318.0,2.22,28745,500,22.0,22.73,50.4606,"1,545.91"
12,IL,Ford F-Series,12921.0,2.46,28745,500,22.0,22.73,55.9158,"1,444.98"
13,IN,Ford F-Series,17821.0,2.31,28745,500,22.0,22.73,52.5063,"1,871.43"
14,IA,Ford F-Series,15074.0,2.23,28745,500,22.0,22.73,50.6879,"1,528.14"
15,KS,Ford F-Series,14742.0,2.07,28745,500,22.0,22.73,47.0511,"1,387.25"
16,KY,Ford F-Series,17370.0,2.21,28745,500,22.0,22.73,50.2333,"1,745.10"
17,LA,Ford F-Series,14805.0,2.01,28745,500,22.0,22.73,45.6873,"1,352.80"
18,ME,Ford F-Series,15420.0,2.32,28745,500,22.0,22.73,52.7336,"1,626.30"
19,MD,Ford F-Series,14834.0,2.40,28745,500,22.0,22.73,54.5520,"1,618.45"
20,MA,Ford F-Series,11759.0,2.26,28745,500,22.0,22.73,51.3698,"1,208.11"
21,MI,Ford F-Series,14121.0,2.17,28745,500,22.0,22.73,49.3241,"1,393.01"
22,MN,Ford F-Series,17887.0,2.19,28745,500,22.0,22.73,49.7787,"1,780.78"
23,MS,Ford F-Series,17699.0,1.98,28745,500,22.0,22.73,45.0054,"1,593.10"
24,MO,Ford F-Series,17396.0,2.03,28745,500,22.0,22.73,46.1419,"1,605.37"
25,MT,Ford F-Series,14556.0,2.25,28745,500,22.0,22.73,51.1425,"1,488.86"
26,NE,Ford F-Series,15128.0,2.24,28745,500,22.0,22.73,50.9152,"1,540.49"
27,NV,Ford F-Series,12869.0,2.66,28745,500,22.0,22.73,60.4618,"1,556.17"
28,NH,Ford F-Series,12931.0,2.23,28745,500,22.0,22.73,50.6879,"1,310.89"
29,NJ,Ford F-Series,11927.0,2.45,28745,500,22.0,22.73,55.6885,"1,328.39"
30,NM,Ford F-Series,18369.0,2.21,28745,500,22.0,22.73,50.2333,"1,845.47"
31,NY,Ford F-Series,11871.0,2.38,28745,500,22.0,22.73,54.0974,"1,284.38"
32,NC,Ford F-Series,15729.0,2.19,28745,500,22.0,22.73,49.7787,"1,565.94"
33,ND,Ford F-Series,15725.0,2.21,28745,500,22.0,22.73,50.2333,"1,579.84"
34,OH,Ford F-Series,12906.0,2.26,28745,500,22.0,22.73,51.3698,"1,325.96"
35,OK,Ford F-Series,18891.0,2.04,28745,500,22.0,22.73,46.3692,"1,751.92"
36,OR,Ford F-Series,14032.0,2.63,28745,500,22.0,22.73,59.7799,"1,677.66"
37,PA,Ford F-Series,12435.0,2.61,28745,500,22.0,22.73,59.3253,"1,475.42"
38,RI,Ford F-Series,12781.0,2.26,28745,500,22.0,22.73,51.3698,"1,313.11"
39,SC,Ford F-Series,16020.0,2.09,28745,500,22.0,22.73,47.5057,"1,522.08"
40,SD,Ford F-Series,15505.0,2.27,28745,500,22.0,22.73,51.5971,"1,600.03"
41,TN,Ford F-Series,15462.0,2.12,28745,500,22.0,22.73,48.1876,"1,490.15"
42,TX,Ford F-Series,16347.0,2.00,28745,500,22.0,22.73,45.4600,"1,486.27"
43,UT,Ford F-Series,15442.0,2.22,28745,500,22.0,22.73,50.4606,"1,558.43"
44,VT,Ford F-Series,13458.0,2.29,28745,500,22.0,22.73,52.0517,"1,401.02"
45,VA,Ford F-Series,15464.0,2.18,28745,500,22.0,22.73,49.5514,"1,532.53"
46,WA,Ford F-Series,12837.0,2.77,28745,500,22.0,22.73,62.9621,"1,616.49"
47,WV,Ford F-Series,14283.0,2.29,28745,500,22.0,22.73,52.0517,"1,486.91"
48,WI,Ford F-Series,15188.0,2.16,28745,500,22.0,22.73,49.0968,"1,491.36"
49,WY,Ford F-Series,21821.0,2.23,28745,500,22.0,22.73,50.6879,"2,212.12"

In [110]:
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].astype('float')
EV_Combined_df.fillna(0)
import pandas as pd
pd.options.mode.chained_assignment = None 
EV_Combined_df['Yearly Electric Price']= ((EV_Combined_df['Avg Miles Driven per state']/EV_Combined_df['Max Mileage'])*(EV_Combined_df['Max EV kWh']*EV_Combined_df['Avg kWh Rate']))/100
EV_Combined_df['Yearly Electric Price']= EV_Combined_df["Yearly Electric Price"].map("{:,.2f}".format)
EV_Combined_df = EV_Combined_df.iloc[:-9]
EV_Combined_df

,States,Electrical,Avg Miles Driven per state,List Pricing,Max Mileage,kWh/100 mi,Max EV kWh,Avg kWh Rate,Yearly Electric Price
0,AL,Tesla Model 3,16054.0,37990,348,26.0,90.48,21.79,909.52
1,AK,Tesla Model 3,9915.0,37990,348,26.0,90.48,11.76,303.16
2,AZ,Tesla Model 3,14493.0,37990,348,26.0,90.48,9.30,350.44
3,AR,Tesla Model 3,14974.0,37990,348,26.0,90.48,12.12,471.86
4,CA,Tesla Model 3,14435.0,37990,348,26.0,90.48,18.31,687.19
5,CO,Tesla Model 3,13443.0,37990,348,26.0,90.48,11.91,416.28
6,CT,Tesla Model 3,11595.0,37990,348,26.0,90.48,21.50,648.16
7,DE,Tesla Model 3,14802.0,37990,348,26.0,90.48,12.14,467.21
8,FL,Tesla Model 3,11836.0,37990,348,26.0,90.48,11.65,358.51
9,GA,Tesla Model 3,18920.0,37990,348,26.0,90.48,11.01,541.60
10,HI,Tesla Model 3,11104.0,37990,348,26.0,90.48,32.08,926.16
11,ID,Tesla Model 3,15318.0,37990,348,26.0,90.48,11.00,438.09
12,IL,Tesla Model 3,12921.0,37990,348,26.0,90.48,9.81,329.56
13,IN,Tesla Model 3,17821.0,37990,348,26.0,90.48,12.38,573.62
14,IA,Tesla Model 3,15074.0,37990,348,26.0,90.48,12.14,475.80
15,KS,Tesla Model 3,14742.0,37990,348,26.0,90.48,10.33,395.94
16,KY,Tesla Model 3,17370.0,37990,348,26.0,90.48,10.34,466.98
17,LA,Tesla Model 3,14805.0,37990,348,26.0,90.48,9.12,351.06
18,ME,Tesla Model 3,15420.0,37990,348,26.0,90.48,21.96,880.42
19,MD,Tesla Model 3,14834.0,37990,348,26.0,90.48,13.07,504.09
20,MA,Tesla Model 3,11759.0,37990,348,26.0,90.48,17.27,528.00
21,MI,Tesla Model 3,14121.0,37990,348,26.0,90.48,14.91,547.41
22,MN,Tesla Model 3,17887.0,37990,348,26.0,90.48,12.55,583.65
23,MS,Tesla Model 3,17699.0,37990,348,26.0,90.48,9.58,440.85
24,MO,Tesla Model 3,17396.0,37990,348,26.0,90.48,10.89,492.55
25,MT,Tesla Model 3,14556.0,37990,348,26.0,90.48,10.59,400.78
26,NE,Tesla Model 3,15128.0,37990,348,26.0,90.48,10.86,427.15
27,NV,Tesla Model 3,12869.0,37990,348,26.0,90.48,9.11,304.82
28,NH,Tesla Model 3,12931.0,37990,348,26.0,90.48,9.51,319.73
29,NJ,Tesla Model 3,11927.0,37990,348,26.0,90.48,19.93,618.03
30,NM,Tesla Model 3,18369.0,37990,348,26.0,90.48,15.71,750.30
31,NY,Tesla Model 3,11871.0,37990,348,26.0,90.48,12.18,375.93
32,NC,Tesla Model 3,15729.0,37990,348,26.0,90.48,11.76,480.93
33,ND,Tesla Model 3,15725.0,37990,348,26.0,90.48,17.30,707.31
34,OH,Tesla Model 3,12906.0,37990,348,26.0,90.48,12.18,408.71
35,OK,Tesla Model 3,18891.0,37990,348,26.0,90.48,8.88,436.16
36,OR,Tesla Model 3,14032.0,37990,348,26.0,90.48,10.67,389.28
37,PA,Tesla Model 3,12435.0,37990,348,26.0,90.48,12.55,405.75
38,RI,Tesla Model 3,12781.0,37990,348,26.0,90.48,22.68,753.67
39,SC,Tesla Model 3,16020.0,37990,348,26.0,90.48,12.10,503.99
40,SD,Tesla Model 3,15505.0,37990,348,26.0,90.48,10.55,425.30
41,TN,Tesla Model 3,15462.0,37990,348,26.0,90.48,10.88,437.39
42,TX,Tesla Model 3,16347.0,37990,348,26.0,90.48,11.44,486.23
43,UT,Tesla Model 3,15442.0,37990,348,26.0,90.48,9.93,398.68
44,VT,Tesla Model 3,13458.0,37990,348,26.0,90.48,11.48,401.69
45,VA,Tesla Model 3,15464.0,37990,348,26.0,90.48,16.78,674.66
46,WA,Tesla Model 3,12837.0,37990,348,26.0,90.48,9.41,314.07
47,WV,Tesla Model 3,14283.0,37990,348,26.0,90.48,13.56,503.56
48,WI,Tesla Model 3,15188.0,37990,348,26.0,90.48,9.84,388.57
49,WY,Tesla Model 3,21821.0,37990,348,26.0,90.48,10.53,597.42

In [111]:
EV_Yearly_Price = EV_Combined_df[['States','Electrical','List Pricing','Yearly Electric Price']].copy()
Regular_Yearly_Price = Regular_Combined_df[['States','Regular','List Pricing','Yearly Gas Price']].copy()
EV_Yearly_Price = EV_Yearly_Price.rename(columns = {"List Pricing": "EV List Pricing"})
Regular_Yearly_Price = Regular_Yearly_Price.rename(columns = {"List Pricing": "Regular List Pricing"})
Yearly_Price_Both = pd.merge(Regular_Yearly_Price, EV_Yearly_Price,
                                 how='outer', on='States')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].astype('float')
Yearly_Price_Both['Yearly Electric Price'] = EV_Combined_df['Yearly Electric Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Electric Price'] = Yearly_Price_Both['Yearly Electric Price'].astype('float')

In [116]:
Yearly_Price_Both['Yearly Price Difference'] = Yearly_Price_Both['Yearly Gas Price'] - Yearly_Price_Both['Yearly Electric Price']
Yearly_Price_Both['List Price Difference'] = Yearly_Price_Both['Regular List Pricing'] - Yearly_Price_Both['EV List Pricing']

In [117]:
Top_3_Difference = Yearly_Price_Both.nlargest(3, 'Yearly Price Difference')
Top_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
49,WY,Ford F-Series,28745,2212.12,Tesla Model 3,37990,597.42,1614.70,-9245
4,CA,Ford F-Series,28745,2158.95,Tesla Model 3,37990,687.19,1471.76,-9245
35,OK,Ford F-Series,28745,1751.92,Tesla Model 3,37990,436.16,1315.76,-9245

In [118]:
Bottom_3_Difference = Yearly_Price_Both.nsmallest(3, 'Yearly Price Difference')
Bottom_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
38,RI,Ford F-Series,28745,1313.11,Tesla Model 3,37990,753.67,559.44,-9245
6,CT,Ford F-Series,28745,1228.16,Tesla Model 3,37990,648.16,580.00,-9245
0,AL,Ford F-Series,28745,1510.72,Tesla Model 3,37990,909.52,601.20,-9245

In [119]:
Yearly_Price_Both['10 Year difference'] = ((Yearly_Price_Both['Yearly Price Difference'] * 10) + Yearly_Price_Both['List Price Difference'])
Yearly_Price_Both

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
0,AL,Ford F-Series,28745,1510.72,Tesla Model 3,37990,909.52,601.20,-9245,-3233.0
1,AK,Ford F-Series,28745,1140.36,Tesla Model 3,37990,303.16,837.20,-9245,-873.0
2,AZ,Ford F-Series,28745,1521.95,Tesla Model 3,37990,350.44,1171.51,-9245,2470.1
3,AR,Ford F-Series,28745,1402.28,Tesla Model 3,37990,471.86,930.42,-9245,59.2
4,CA,Ford F-Series,28745,2158.95,Tesla Model 3,37990,687.19,1471.76,-9245,5472.6
5,CO,Ford F-Series,28745,1393.35,Tesla Model 3,37990,416.28,977.07,-9245,525.7
6,CT,Ford F-Series,28745,1228.16,Tesla Model 3,37990,648.16,580.00,-9245,-3445.0
7,DE,Ford F-Series,28745,1628.42,Tesla Model 3,37990,467.21,1161.21,-9245,2367.1
8,FL,Ford F-Series,28745,1237.55,Tesla Model 3,37990,358.51,879.04,-9245,-454.6
9,GA,Ford F-Series,28745,1849.22,Tesla Model 3,37990,541.60,1307.62,-9245,3831.2
10,HI,Ford F-Series,28745,1665.80,Tesla Model 3,37990,926.16,739.64,-9245,-1848.6
11,ID,Ford F-Series,28745,1545.91,Tesla Model 3,37990,438.09,1107.82,-9245,1833.2
12,IL,Ford F-Series,28745,1444.98,Tesla Model 3,37990,329.56,1115.42,-9245,1909.2
13,IN,Ford F-Series,28745,1871.43,Tesla Model 3,37990,573.62,1297.81,-9245,3733.1
14,IA,Ford F-Series,28745,1528.14,Tesla Model 3,37990,475.80,1052.34,-9245,1278.4
15,KS,Ford F-Series,28745,1387.25,Tesla Model 3,37990,395.94,991.31,-9245,668.1
16,KY,Ford F-Series,28745,1745.10,Tesla Model 3,37990,466.98,1278.12,-9245,3536.2
17,LA,Ford F-Series,28745,1352.80,Tesla Model 3,37990,351.06,1001.74,-9245,772.4
18,ME,Ford F-Series,28745,1626.30,Tesla Model 3,37990,880.42,745.88,-9245,-1786.2
19,MD,Ford F-Series,28745,1618.45,Tesla Model 3,37990,504.09,1114.36,-9245,1898.6
20,MA,Ford F-Series,28745,1208.11,Tesla Model 3,37990,528.00,680.11,-9245,-2443.9
21,MI,Ford F-Series,28745,1393.01,Tesla Model 3,37990,547.41,845.60,-9245,-789.0
22,MN,Ford F-Series,28745,1780.78,Tesla Model 3,37990,583.65,1197.13,-9245,2726.3
23,MS,Ford F-Series,28745,1593.10,Tesla Model 3,37990,440.85,1152.25,-9245,2277.5
24,MO,Ford F-Series,28745,1605.37,Tesla Model 3,37990,492.55,1112.82,-9245,1883.2
25,MT,Ford F-Series,28745,1488.86,Tesla Model 3,37990,400.78,1088.08,-9245,1635.8
26,NE,Ford F-Series,28745,1540.49,Tesla Model 3,37990,427.15,1113.34,-9245,1888.4
27,NV,Ford F-Series,28745,1556.17,Tesla Model 3,37990,304.82,1251.35,-9245,3268.5
28,NH,Ford F-Series,28745,1310.89,Tesla Model 3,37990,319.73,991.16,-9245,666.6
29,NJ,Ford F-Series,28745,1328.39,Tesla Model 3,37990,618.03,710.36,-9245,-2141.4
30,NM,Ford F-Series,28745,1845.47,Tesla Model 3,37990,750.30,1095.17,-9245,1706.7
31,NY,Ford F-Series,28745,1284.38,Tesla Model 3,37990,375.93,908.45,-9245,-160.5
32,NC,Ford F-Series,28745,1565.94,Tesla Model 3,37990,480.93,1085.01,-9245,1605.1
33,ND,Ford F-Series,28745,1579.84,Tesla Model 3,37990,707.31,872.53,-9245,-519.7
34,OH,Ford F-Series,28745,1325.96,Tesla Model 3,37990,408.71,917.25,-9245,-72.5
35,OK,Ford F-Series,28745,1751.92,Tesla Model 3,37990,436.16,1315.76,-9245,3912.6
36,OR,Ford F-Series,28745,1677.66,Tesla Model 3,37990,389.28,1288.38,-9245,3638.8
37,PA,Ford F-Series,28745,1475.42,Tesla Model 3,37990,405.75,1069.67,-9245,1451.7
38,RI,Ford F-Series,28745,1313.11,Tesla Model 3,37990,753.67,559.44,-9245,-3650.6
39,SC,Ford F-Series,28745,1522.08,Tesla Model 3,37990,503.99,1018.09,-9245,935.9
40,SD,Ford F-Series,28745,1600.03,Tesla Model 3,37990,425.30,1174.73,-9245,2502.3
41,TN,Ford F-Series,28745,1490.15,Tesla Model 3,37990,437.39,1052.76,-9245,1282.6
42,TX,Ford F-Series,28745,1486.27,Tesla Model 3,37990,486.23,1000.04,-9245,755.4
43,UT,Ford F-Series,28745,1558.43,Tesla Model 3,37990,398.68,1159.75,-9245,2352.5
44,VT,Ford F-Series,28745,1401.02,Tesla Model 3,37990,401.69,999.33,-9245,748.3
45,VA,Ford F-Series,28745,1532.53,Tesla Model 3,37990,674.66,857.87,-9245,-666.3
46,WA,Ford F-Series,28745,1616.49,Tesla Model 3,37990,314.07,1302.42,-9245,3779.2
47,WV,Ford F-Series,28745,1486.91,Tesla Model 3,37990,503.56,983.35,-9245,588.5
48,WI,Ford F-Series,28745,1491.36,Tesla Model 3,37990,388.57,1102.79,-9245,1782.9
49,WY,Ford F-Series,28745,2212.12,Tesla Model 3,37990,597.42,1614.70,-9245,6902.0

In [121]:
Top_3_List_Dif = Yearly_Price_Both.nlargest(3, '10 Year difference')
Top_3_List_Dif

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
49,WY,Ford F-Series,28745,2212.12,Tesla Model 3,37990,597.42,1614.70,-9245,6902.0
4,CA,Ford F-Series,28745,2158.95,Tesla Model 3,37990,687.19,1471.76,-9245,5472.6
35,OK,Ford F-Series,28745,1751.92,Tesla Model 3,37990,436.16,1315.76,-9245,3912.6

In [122]:
Bottom_3_List_Dif = Yearly_Price_Both.nsmallest(3, '10 Year difference')
Bottom_3_List_Dif

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
38,RI,Ford F-Series,28745,1313.11,Tesla Model 3,37990,753.67,559.44,-9245,-3650.6
6,CT,Ford F-Series,28745,1228.16,Tesla Model 3,37990,648.16,580.00,-9245,-3445.0
0,AL,Ford F-Series,28745,1510.72,Tesla Model 3,37990,909.52,601.20,-9245,-3233.0

# Electrical version with Toyota Camry instead of the Ford F150 with focus on Sedan due to same type of car

In [127]:
Gas_Miles_Df.loc[:,'Regular'] = 'Toyota Camry'
Regular_Combined_df = pd.merge(Gas_Miles_Df, Regular_DF,
                                 how='outer', on='Regular')
del Regular_Combined_df['Types']
del Regular_Combined_df['Electrical']
Regular_Combined_df['Max Gallons']= Regular_Combined_df["Max Gallons"].map("{:,.2f}".format)
Regular_Combined_df.head()

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,List Pricing,Max Mileage,MPG,Max Gallons
0,AL,Toyota Camry,"16,054",$2.07,24970,686,33.0,20.79
1,AK,Toyota Camry,"9,915",$2.53,24970,686,33.0,20.79
2,AZ,Toyota Camry,"14,493",$2.31,24970,686,33.0,20.79
3,AR,Toyota Camry,"14,974",$2.06,24970,686,33.0,20.79
4,CA,Toyota Camry,"14,435",$3.29,24970,686,33.0,20.79

In [128]:
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].str.replace('$', '')
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].astype('float')
Regular_Combined_df['Max Gallons'] = Regular_Combined_df['Max Gallons'].astype('float')
Regular_Combined_df['Full Gasoline Price'] = (Regular_Combined_df['Max Gallons'] * Regular_Combined_df['Average Price per Gallon'])
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].astype('float')
Regular_Combined_df['Yearly Gas Price']= (Regular_Combined_df['Avg Miles Driven per state']/Regular_Combined_df['Max Mileage'])*Regular_Combined_df['Full Gasoline Price']
Regular_Combined_df['Yearly Gas Price']= Regular_Combined_df["Yearly Gas Price"].map("{:,.2f}".format)
Regular_Combined_df = Regular_Combined_df.iloc[:-9]

In [129]:
Regular_Yearly_Price = Regular_Combined_df[['States','Regular','List Pricing','Yearly Gas Price']].copy()
Regular_Yearly_Price = Regular_Yearly_Price.rename(columns = {"List Pricing": "Regular List Pricing"})
Yearly_Price_Both = pd.merge(Regular_Yearly_Price, EV_Yearly_Price,
                                 how='outer', on='States')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].astype('float')
Yearly_Price_Both['Yearly Electric Price'] = EV_Combined_df['Yearly Electric Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Electric Price'] = Yearly_Price_Both['Yearly Electric Price'].astype('float')

In [130]:
Yearly_Price_Both['Yearly Price Difference'] = Yearly_Price_Both['Yearly Gas Price'] - Yearly_Price_Both['Yearly Electric Price']
Yearly_Price_Both['List Price Difference'] = Yearly_Price_Both['Regular List Pricing'] - Yearly_Price_Both['EV List Pricing']
Yearly_Price_Both['10 Year difference'] = ((Yearly_Price_Both['Yearly Price Difference'] * 10) + Yearly_Price_Both['List Price Difference'])
Yearly_Price_Both

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
0,AL,Toyota Camry,24970,1007.13,Tesla Model 3,37990,909.52,97.61,-13020,-12043.9
1,AK,Toyota Camry,24970,760.23,Tesla Model 3,37990,303.16,457.07,-13020,-8449.3
2,AZ,Toyota Camry,24970,1014.61,Tesla Model 3,37990,350.44,664.17,-13020,-6378.3
3,AR,Toyota Camry,24970,934.84,Tesla Model 3,37990,471.86,462.98,-13020,-8390.2
4,CA,Toyota Camry,24970,1439.27,Tesla Model 3,37990,687.19,752.08,-13020,-5499.2
5,CO,Toyota Camry,24970,928.88,Tesla Model 3,37990,416.28,512.60,-13020,-7894.0
6,CT,Toyota Camry,24970,818.76,Tesla Model 3,37990,648.16,170.60,-13020,-11314.0
7,DE,Toyota Camry,24970,1085.59,Tesla Model 3,37990,467.21,618.38,-13020,-6836.2
8,FL,Toyota Camry,24970,825.02,Tesla Model 3,37990,358.51,466.51,-13020,-8354.9
9,GA,Toyota Camry,24970,1232.79,Tesla Model 3,37990,541.60,691.19,-13020,-6108.1
10,HI,Toyota Camry,24970,1110.51,Tesla Model 3,37990,926.16,184.35,-13020,-11176.5
11,ID,Toyota Camry,24970,1030.59,Tesla Model 3,37990,438.09,592.50,-13020,-7095.0
12,IL,Toyota Camry,24970,963.30,Tesla Model 3,37990,329.56,633.74,-13020,-6682.6
13,IN,Toyota Camry,24970,1247.60,Tesla Model 3,37990,573.62,673.98,-13020,-6280.2
14,IA,Toyota Camry,24970,1018.74,Tesla Model 3,37990,475.80,542.94,-13020,-7590.6
15,KS,Toyota Camry,24970,924.82,Tesla Model 3,37990,395.94,528.88,-13020,-7731.2
16,KY,Toyota Camry,24970,1163.38,Tesla Model 3,37990,466.98,696.40,-13020,-6056.0
17,LA,Toyota Camry,24970,901.85,Tesla Model 3,37990,351.06,550.79,-13020,-7512.1
18,ME,Toyota Camry,24970,1084.18,Tesla Model 3,37990,880.42,203.76,-13020,-10982.4
19,MD,Toyota Camry,24970,1078.95,Tesla Model 3,37990,504.09,574.86,-13020,-7271.4
20,MA,Toyota Camry,24970,805.40,Tesla Model 3,37990,528.00,277.40,-13020,-10246.0
21,MI,Toyota Camry,24970,928.66,Tesla Model 3,37990,547.41,381.25,-13020,-9207.5
22,MN,Toyota Camry,24970,1187.17,Tesla Model 3,37990,583.65,603.52,-13020,-6984.8
23,MS,Toyota Camry,24970,1062.05,Tesla Model 3,37990,440.85,621.20,-13020,-6808.0
24,MO,Toyota Camry,24970,1070.23,Tesla Model 3,37990,492.55,577.68,-13020,-7243.2
25,MT,Toyota Camry,24970,992.56,Tesla Model 3,37990,400.78,591.78,-13020,-7102.2
26,NE,Toyota Camry,24970,1026.98,Tesla Model 3,37990,427.15,599.83,-13020,-7021.7
27,NV,Toyota Camry,24970,1037.43,Tesla Model 3,37990,304.82,732.61,-13020,-5693.9
28,NH,Toyota Camry,24970,873.91,Tesla Model 3,37990,319.73,554.18,-13020,-7478.2
29,NJ,Toyota Camry,24970,885.58,Tesla Model 3,37990,618.03,267.55,-13020,-10344.5
30,NM,Toyota Camry,24970,1230.29,Tesla Model 3,37990,750.30,479.99,-13020,-8220.1
31,NY,Toyota Camry,24970,856.24,Tesla Model 3,37990,375.93,480.31,-13020,-8216.9
32,NC,Toyota Camry,24970,1043.94,Tesla Model 3,37990,480.93,563.01,-13020,-7389.9
33,ND,Toyota Camry,24970,1053.21,Tesla Model 3,37990,707.31,345.90,-13020,-9561.0
34,OH,Toyota Camry,24970,883.96,Tesla Model 3,37990,408.71,475.25,-13020,-8267.5
35,OK,Toyota Camry,24970,1167.93,Tesla Model 3,37990,436.16,731.77,-13020,-5702.3
36,OR,Toyota Camry,24970,1118.42,Tesla Model 3,37990,389.28,729.14,-13020,-5728.6
37,PA,Toyota Camry,24970,983.60,Tesla Model 3,37990,405.75,577.85,-13020,-7241.5
38,RI,Toyota Camry,24970,875.39,Tesla Model 3,37990,753.67,121.72,-13020,-11802.8
39,SC,Toyota Camry,24970,1014.70,Tesla Model 3,37990,503.99,510.71,-13020,-7912.9
40,SD,Toyota Camry,24970,1066.66,Tesla Model 3,37990,425.30,641.36,-13020,-6606.4
41,TN,Toyota Camry,24970,993.42,Tesla Model 3,37990,437.39,556.03,-13020,-7459.7
42,TX,Toyota Camry,24970,990.83,Tesla Model 3,37990,486.23,504.60,-13020,-7974.0
43,UT,Toyota Camry,24970,1038.93,Tesla Model 3,37990,398.68,640.25,-13020,-6617.5
44,VT,Toyota Camry,24970,934.00,Tesla Model 3,37990,401.69,532.31,-13020,-7696.9
45,VA,Toyota Camry,24970,1021.67,Tesla Model 3,37990,674.66,347.01,-13020,-9549.9
46,WA,Toyota Camry,24970,1077.64,Tesla Model 3,37990,314.07,763.57,-13020,-5384.3
47,WV,Toyota Camry,24970,991.25,Tesla Model 3,37990,503.56,487.69,-13020,-8143.1
48,WI,Toyota Camry,24970,994.23,Tesla Model 3,37990,388.57,605.66,-13020,-6963.4
49,WY,Toyota Camry,24970,1474.72,Tesla Model 3,37990,597.42,877.30,-13020,-4247.0

In [131]:
Top_3_List_Dif = Yearly_Price_Both.nlargest(3, '10 Year difference')
Top_3_List_Dif

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
49,WY,Toyota Camry,24970,1474.72,Tesla Model 3,37990,597.42,877.30,-13020,-4247.0
46,WA,Toyota Camry,24970,1077.64,Tesla Model 3,37990,314.07,763.57,-13020,-5384.3
4,CA,Toyota Camry,24970,1439.27,Tesla Model 3,37990,687.19,752.08,-13020,-5499.2

In [132]:
Bottom_3_List_Dif = Yearly_Price_Both.nsmallest(3, '10 Year difference')
Bottom_3_List_Dif

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
0,AL,Toyota Camry,24970,1007.13,Tesla Model 3,37990,909.52,97.61,-13020,-12043.9
38,RI,Toyota Camry,24970,875.39,Tesla Model 3,37990,753.67,121.72,-13020,-11802.8
6,CT,Toyota Camry,24970,818.76,Tesla Model 3,37990,648.16,170.60,-13020,-11314.0