In [224]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

Miles_df =("Avg mileage per state - Sheet1.csv")
Car_df = ("Top Cars in each state EV_Gasoline - Sheet1.csv")
Prices_df =("Avg Gas and Electric per state - Sheet1.csv")
Miles_df = pd.read_csv(Miles_df)
Car_df = pd.read_csv(Car_df)
Prices_df = pd.read_csv(Prices_df)

In [225]:
for name, dtype in Car_df.dtypes.iteritems():
    print(name, dtype)

States object
Regular object
Electrical  object

In [226]:
Miles_df = Miles_df.rename(columns = {"Miles": "Avg Miles Driven per state"})

In [227]:
combined_Car_df = pd.merge(Car_df, Miles_df,
                                 how='outer', on='States')
combined_Car_df.head()

,States,Regular,Electrical,Registered Drivers,Avg Miles Driven per state
0,AL,RAM 1500,BMW i8,"3,521,444","16,054"
1,AK,RAM 1500,Tesla Model X,"465,256","9,915"
2,AZ,RAM 1500,Tesla Model X,"3,433,995","14,493"
3,AR,RAM 1500,BMW i8,"1,947,867","14,974"
4,CA,Honda Civic,Tesla Model S,"21,243,939","14,435"

In [228]:
Prices_df = Prices_df.rename(columns = {"Regular": "Average Price per Gallon"})
Prices_df = Prices_df.rename(columns = {"Average EV per Gallon": "Average Price per Gallon EV"})

In [229]:
Combined_Car_df = pd.merge(combined_Car_df, Prices_df,
                                 how='outer', on='States')
Combined_Car_df.head()

,States,Regular,Electrical,Registered Drivers,Avg Miles Driven per state,Average Price per Gallon,Average Price per Gallon EV,Saved per Gallon
0,AL,RAM 1500,BMW i8,"3,521,444","16,054",$2.07,$1.14,$0.93
1,AK,RAM 1500,Tesla Model X,"465,256","9,915",$2.53,$2.02,$0.51
2,AZ,RAM 1500,Tesla Model X,"3,433,995","14,493",$2.31,$1.21,$1.10
3,AR,RAM 1500,BMW i8,"1,947,867","14,974",$2.06,$0.90,$1.16
4,CA,Honda Civic,Tesla Model S,"21,243,939","14,435",$3.29,$1.72,$1.57

In [247]:
Ev_Regualar_DF = ("Electric Vs Regular - Sheet1.csv")
Ev_Regualar_DF = pd.read_csv(Ev_Regualar_DF)
Ev_Regualar_DF.head()

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,NaN,46.0
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,NaN,30.0
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,NaN,29.0
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,NaN
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,NaN

In [248]:
Ev_Regualar_DF['MPG'] = Ev_Regualar_DF['MPG'].fillna(0)
Ev_Regualar_DF['kWh/100 mi'] = Ev_Regualar_DF['kWh/100 mi'].fillna(0)
Ev_Regualar_DF

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,0.0,46.0
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,0.0,30.0
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,0.0,29.0
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,0.0
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,0.0
5,GMC Sierra,"78,370","68,722",14.0,Regular,44000,440,17.0,0.0
6,Honda Civic,"60,284","70,166",-14.1,Regular,20000,430,37.0,0.0
7,Honda CR-V,"96,168","103,429",-7.0,Regular,25150,406,31.0,0.0
8,Hyundai Kona,NaN,NaN,NaN,Electric,37190,258,0.0,27.0
9,Hyundai Ioniq,"4,331","5,428",-20.2,Electric,33945,193,0.0,25.0
10,Nissan Leaf,"4,635","3,254",42.4,Electric,31600,157,0.0,30.0
11,Ram Pickup,"161,266","172,579",-6.6,Regular,32154,560,22.0,0.0
12,Tesla Model 3,0,"47,275",-100.0,Electric,37990,348,0.0,26.0
13,Tesla Model S,0,"3,750",-100.0,Electric,74990,379,0.0,30.0
14,Tesla Model X,0,"5,500",-100.0,Electric,79990,315,0.0,35.0
15,Tesla Model Y,0,0,0.0,Electric,49900,314,0.0,28.0
16,Toyota Camry,"89,403","78,522",13.9,Regular,24970,686,33.0,0.0
17,Toyota Corolla,"70,965","70,872",0.1,Regular,19600,488,35.0,0.0
18,Toyota RAV4,"127,813","123,446",3.5,Regular,25950,400,30.0,0.0
19,Toyota Tacoma,"75,187","61,179",22.9,Regular,26050,380,20.0,0.0

In [249]:
Ev_Regualar_DF['Max Gallons'] = Ev_Regualar_DF['Max Mileage']/Ev_Regualar_DF['MPG']
Ev_Regualar_DF['Max EV kWh'] = Ev_Regualar_DF['Max Mileage']/(100/Ev_Regualar_DF['kWh/100 mi'])
Ev_Regualar_DF

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,0.0,46.0,inf,93.84
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,0.0,30.0,inf,45.90
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,0.0,29.0,inf,69.02
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,0.0,22.500000,0.00
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,0.0,22.727273,0.00
5,GMC Sierra,"78,370","68,722",14.0,Regular,44000,440,17.0,0.0,25.882353,0.00
6,Honda Civic,"60,284","70,166",-14.1,Regular,20000,430,37.0,0.0,11.621622,0.00
7,Honda CR-V,"96,168","103,429",-7.0,Regular,25150,406,31.0,0.0,13.096774,0.00
8,Hyundai Kona,NaN,NaN,NaN,Electric,37190,258,0.0,27.0,inf,69.66
9,Hyundai Ioniq,"4,331","5,428",-20.2,Electric,33945,193,0.0,25.0,inf,48.25
10,Nissan Leaf,"4,635","3,254",42.4,Electric,31600,157,0.0,30.0,inf,47.10
11,Ram Pickup,"161,266","172,579",-6.6,Regular,32154,560,22.0,0.0,25.454545,0.00
12,Tesla Model 3,0,"47,275",-100.0,Electric,37990,348,0.0,26.0,inf,90.48
13,Tesla Model S,0,"3,750",-100.0,Electric,74990,379,0.0,30.0,inf,113.70
14,Tesla Model X,0,"5,500",-100.0,Electric,79990,315,0.0,35.0,inf,110.25
15,Tesla Model Y,0,0,0.0,Electric,49900,314,0.0,28.0,inf,87.92
16,Toyota Camry,"89,403","78,522",13.9,Regular,24970,686,33.0,0.0,20.787879,0.00
17,Toyota Corolla,"70,965","70,872",0.1,Regular,19600,488,35.0,0.0,13.942857,0.00
18,Toyota RAV4,"127,813","123,446",3.5,Regular,25950,400,30.0,0.0,13.333333,0.00
19,Toyota Tacoma,"75,187","61,179",22.9,Regular,26050,380,20.0,0.0,19.000000,0.00

In [250]:
New_Ev_Regualar_DF= Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
New_Ev_Regualar_DF['Full Gasoline Price'] = New_Ev_Regualar_DF['Max Gallons'] * 3.29
New_Ev_Regualar_DF

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price
0,Audi eTron,Electric,77400,204,0.0,46.0,inf,93.84,inf
1,BMW i3,Electric,44450,153,0.0,30.0,inf,45.90,inf
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,inf,69.02,inf
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387
8,Hyundai Kona,Electric,37190,258,0.0,27.0,inf,69.66,inf
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,inf,48.25,inf
10,Nissan Leaf,Electric,31600,157,0.0,30.0,inf,47.10,inf
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455
12,Tesla Model 3,Electric,37990,348,0.0,26.0,inf,90.48,inf
13,Tesla Model S,Electric,74990,379,0.0,30.0,inf,113.70,inf
14,Tesla Model X,Electric,79990,315,0.0,35.0,inf,110.25,inf
15,Tesla Model Y,Electric,49900,314,0.0,28.0,inf,87.92,inf
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000

In [277]:
Cali_Ev_Regular = New_Ev_Regualar_DF
Cali_Ev_Regular = Cali_Ev_Regular[~Cali_Ev_Regular.isin([np.inf])]
Cali_Ev_Regular['Max Gallons'].fillna(0, inplace=True)
Cali_Ev_Regular['Full Gasoline Price'].fillna(0, inplace=True)
Cali_Ev_Regular

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price
0,Audi eTron,Electric,77400,204,0.0,46.0,0.000000,93.84,0.000000
1,BMW i3,Electric,44450,153,0.0,30.0,0.000000,45.90,0.000000
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,0.000000,69.02,0.000000
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387
8,Hyundai Kona,Electric,37190,258,0.0,27.0,0.000000,69.66,0.000000
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,0.000000,48.25,0.000000
10,Nissan Leaf,Electric,31600,157,0.0,30.0,0.000000,47.10,0.000000
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455
12,Tesla Model 3,Electric,37990,348,0.0,26.0,0.000000,90.48,0.000000
13,Tesla Model S,Electric,74990,379,0.0,30.0,0.000000,113.70,0.000000
14,Tesla Model X,Electric,79990,315,0.0,35.0,0.000000,110.25,0.000000
15,Tesla Model Y,Electric,49900,314,0.0,28.0,0.000000,87.92,0.000000
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000

In [278]:
Cali_Ev_Regular['Yearly_Gas_Price_Cali'] = (14435/ Cali_Ev_Regular['Max Mileage'])* (Cali_Ev_Regular['Full Gasoline Price'])
Cali_Ev_Regular

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price,Yearly_Gas_Price_Cali
0,Audi eTron,Electric,77400,204,0.0,46.0,0.000000,93.84,0.000000,0.000000
1,BMW i3,Electric,44450,153,0.0,30.0,0.000000,45.90,0.000000,0.000000
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,0.000000,69.02,0.000000,0.000000
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000,2374.557500
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727,2158.688636
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941,2793.597059
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135,1283.544595
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387,1531.972581
8,Hyundai Kona,Electric,37190,258,0.0,27.0,0.000000,69.66,0.000000,0.000000
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,0.000000,48.25,0.000000,0.000000
10,Nissan Leaf,Electric,31600,157,0.0,30.0,0.000000,47.10,0.000000,0.000000
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455,2158.688636
12,Tesla Model 3,Electric,37990,348,0.0,26.0,0.000000,90.48,0.000000,0.000000
13,Tesla Model S,Electric,74990,379,0.0,30.0,0.000000,113.70,0.000000,0.000000
14,Tesla Model X,Electric,79990,315,0.0,35.0,0.000000,110.25,0.000000,0.000000
15,Tesla Model Y,Electric,49900,314,0.0,28.0,0.000000,87.92,0.000000,0.000000
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121,1439.125758
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000,1356.890000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667,1583.038333
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000,2374.557500

In [279]:
kWh_rate = ("kWh Rate per state - Sheet1.csv")
kWh_rate = pd.read_csv(kWh_rate)
kWh_rate.head()

  States  Avg kWh Rate
0     AL         21.79
1     AK         11.76
2     AZ          9.30
3     AR         12.12
4     CA         18.31

In [281]:
Cali_Ev_Regular['Yearly_EV_Price_Cali'] =((14435/Cali_Ev_Regular['Max Mileage'])*(Cali_Ev_Regular['Max EV kWh'] * .1831))
Cali_Ev_Regular

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price,Yearly_Gas_Price_Cali,Yearly_EV_Price_Cali
0,Audi eTron,Electric,77400,204,0.0,46.0,0.000000,93.84,0.000000,0.000000,1215.802310
1,BMW i3,Electric,44450,153,0.0,30.0,0.000000,45.90,0.000000,0.000000,792.914550
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,0.000000,69.02,0.000000,0.000000,766.484065
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000,2374.557500,0.000000
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727,2158.688636,0.000000
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941,2793.597059,0.000000
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135,1283.544595,0.000000
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387,1531.972581,0.000000
8,Hyundai Kona,Electric,37190,258,0.0,27.0,0.000000,69.66,0.000000,0.000000,713.623095
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,0.000000,48.25,0.000000,0.000000,660.762125
10,Nissan Leaf,Electric,31600,157,0.0,30.0,0.000000,47.10,0.000000,0.000000,792.914550
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455,2158.688636,0.000000
12,Tesla Model 3,Electric,37990,348,0.0,26.0,0.000000,90.48,0.000000,0.000000,687.192610
13,Tesla Model S,Electric,74990,379,0.0,30.0,0.000000,113.70,0.000000,0.000000,792.914550
14,Tesla Model X,Electric,79990,315,0.0,35.0,0.000000,110.25,0.000000,0.000000,925.066975
15,Tesla Model Y,Electric,49900,314,0.0,28.0,0.000000,87.92,0.000000,0.000000,740.053580
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121,1439.125758,0.000000
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000,1356.890000,0.000000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667,1583.038333,0.000000
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000,2374.557500,0.000000